<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/indexStyle.css'>
    <title>Wins!</title>
</head>
<body>
    <header>
    <h1>We are winnning!</h1>
</header>
    <main>
        <form action='/new' id='add'>
            <input type='submit' value='Add a New Win'>
        </form>
        <%wins.forEach(win => { %>
            <div class='container'>
                <a href='/<%=win._id%>'><h2><%=win.text%></h2></a>
                <p>-<%=win.author%></p>
                <form action="/<%=win._id%>/likes-index?_method=PUT" method='POST'>
                    <input type="hidden" name="text" value="<%=win.text%>">
                    <input type="hidden" name="author" value="<%=win.author%>">
                    <input type="hidden" name="likes" value="<%=win.likes%>">
                    <input type="hidden" name="comments" value="<%=win.comments%>">
                    <input id="heart" type='submit' value='&#128155;'> 
                    <label for='heart'><%=win.likes%></label>
                </form> 
            </div> <%
        }) %>
       
    </main>
</body>
</html>