<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%=win.text%></h3>
    <p><%=win.author%></p>
    <div class='feedback'>
    <p><%=win.likes%></p>
       <form action="/<%=win._id%>/likes?_method=PUT" method="POST"> 
        <input type='hidden' value="<%=win.text%>">
        <input type='hidden' value="<%=win.author%>">
        <input type='hidden' value="<%=win.likes%>">
        <input type='submit' value="&hearts;">
       </form> 
       <form>
           <input type='text' name='comment'>
           <input type="submit" value="comment">
       </form>
    </div>
    <form action='/<%=win._id%>?_method=DELETE' method='POST'>
        <input type='submit' value="DELETE">
    </form>
        <a href='/<%=win._id%>/edit'>Edit Win</a>
    <a href="/">Back to Index Page</a>
</body>
</html>